
<div class="col-md-8">
  <div class="card"><!-- EVENT DETAILS -->
        <div class="card-header pb-0 p-3">
            <div class="d-flex align-items-center">
                <h5 class="mb-0 text-primary">New Couple for the event</h5>                  
                  <%= link_to(event_couples_path(couple.event_id), class:"btn btn-sm btn-primary ms-auto") do %>
                          Couple list&nbsp;&nbsp;<i class="fa fa-list"></i>
                        <%end%>         
            </div>            
        </div>
        <div class="card-body p-3">
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Event Name:</strong> &nbsp; [<%= couple.event.id%>]&nbsp;<%= couple.event.name.titleize%>&nbsp;
                            <span class="badge badge-pill badge-lg bg-gradient-danger"><%="CLOSED" if  couple.event.status.upcase == "CLOSED"%></span>
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Date:</strong> &nbsp; <%=local_time( couple.event.created_at, %"%d/%m/%Y") %> at <%= couple.event.timeIni.strftime("%H:%M")%> - <%= couple.event.timeEnd.strftime("%H:%M")%></li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Couples:</strong> &nbsp; <%=( couple.event.mixed? ? "MIXED":"FIXED" ) %>&nbsp;
                              <strong class="text-dark">Category:</strong>&nbsp; <%= couple.event.level%>
                        </li>
                        
                    </ul>
                </div>                
            </div>
        </div>
    </div>
  </div>
    <div class="col-md-8">
        <br>
    </div>

<div class="row">
    <div class="col-md-8">
        <div class="card">                          
            <%= form_with(model: couple) do |f| %>
              <% if couple.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(couple.errors.count, "error") %> prohibited this event from being saved:</h2>

                  <ul>
                    <% couple.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="card-body">                          
                  <div class="row">                      
                      <div class="col-md-8">
                          <div class="form-group">
                              <label for="example-text-input" class="form-control-label">Player 1</label>
                              <%= f.select :player_id, options_for_select(@players_to_mate.collect{ |player|
                                                                         [player.name << " - " << player.cellphone, player.id  ] }, couple.player_id), {}, {id: 'select2_player',class:"form-control m-b",  required: true} %>

                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="form-group">
                              <label for="example-text-input" class="form-control-label">Player 2</label>
                              <%= f.select :mate_id, options_for_select(@players_to_mate.collect { |player|
                                                                         [player.name  << " - " << player.cellphone, player.id] }, couple.mate_id), {}, {id: 'select2_mate',class:"form-control m-b",  required: true} %>
                          </div>
                      </div>
                      <%= f.hidden_field :event_id %>
                  </div>
                  <hr class="horizontal dark">
                  <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">                      
                      <%= button_tag(type: 'submit', data: {turbo: false}, class: "btn bg-gradient-success ms-auto") do %>
                        Save&nbsp;&nbsp;<i class="fa fa-database"></i>
                      <% end %>
                    </div>
                  </div>
                  
              </div>
            <% end %>

        </div>
    </div>                
</div>
<script type="text/javascript">
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      //$('.js-example-basic-single').select2();
      $('#select2_player').select2();
      $('#select2_mate').select2();
  });
</script>
