<div class="row">
        <div class="col-12">
          <div class="card mb-4">
          <div class="d-flex px-2 py-1">
          </div>
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="h4">Event list</p>
                <%= link_to "New Event", new_event_path, class: "btn btn-primary btn-sm ms-auto" %>            
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      
                      <th class="text-uppercase text-primary text-s font-weight-bolder">ID</th>
                      <th class="text-uppercase text-primary text-s font-weight-bolder ps-2">Name</th>
                      <th class="text-center text-uppercase text-primary text-s font-weight-bolder ">Date</th>
                      <th class="text-center text-uppercase text-primary text-s font-weight-bolder ">People Qty</th>
                      <th class="text-center text-uppercase text-primary text-s font-weight-bolder ">Status</th>
                      <th class="text-center text-uppercase text-primary text-s font-weight-bolder ">Winner</th>
                      <th class="text-secondary opacity-7"></th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  <% @events.each do | event|%>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">                          
                          <div class="d-flex flex-column justify-content-right">
                            <h6 class="mb-0 text-sm"><%=event.id%></h6>                            
                          </div>
                        </div>
                      </td>
                      <td>                        
                        <%= link_to event.name, event, class: "text-xs font-weight-bold mb-0" %>                                                  
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"><%=event.eventDate.strftime("%d/%m/%Y")%></span>
                      </td>                      
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"> <%=event.people%></span>
                      </td>
                      <td class="align-middle text-center text-sm">
                      <%if event.status=='Open' %>
                        <span class="badge badge-sm bg-gradient-success"><%=event.status%></span>
                      <%else%>
                        <span class="badge badge-sm bg-gradient-secondary"><%=event.status%></span>
                      <%end%>
                      </td>
                      <td>
                        <%if !event.player.nil? %>
                          <%= link_to event.try(:player).try(:name), event.try(:player), class: "text-xs font-weight-bold mb-0" %>                          
                          <p class="text-xs text-secondary mb-0">Won by &nbsp;<%=event.try(:winner)%> pts</p>
                        <%end%>
                      </td>
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn btn-sm bg-gradient-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                          </button>
                          <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                            <li><%= link_to "Edit", edit_event_path(event), class:"dropdown-item border-radius-md"%></li>
                            <li><%= link_to "Share", event, class:"dropdown-item border-radius-md"%></li>
                            <li><%= link_to "Delete", event, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"dropdown-item border-radius-md" %></li>
                            <li><%= link_to "Players", players_enrroled_path(event), class:"dropdown-item border-radius-md"%></li>                            
                            <li><%= link_to "See the matches", event_matches_path(event), class:"dropdown-item border-radius-md"%></li>
                          </ul>
                        </div>
                      </td>                                            
                    </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>