<p style="color: green"><%= notice %></p>

<%= render @match_player %>

<div>
  <%= link_to "Edit this match player", edit_match_player_path(@match_player) %> |
  <%= link_to "Back to match players", match_players_path %>

  <%= button_to "Destroy this match player", @match_player, method: :delete %>
</div>
