<div id="<%= dom_id payment %>">
  <p>
    <strong>Event:</strong>
    <%= payment.event_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= payment.player_id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= payment.cost %>
  </p>

  <p>
    <strong>Retainer:</strong>
    <%= payment.retainer %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= payment.reference %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= payment.comments %>
  </p>

</div>
