<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :leftHanded, style: "display: block" %>
    <%= form.check_box :leftHanded %>
  </div>

  <div>
    <%= form.label :birthDate, style: "display: block" %>
    <%= form.date_field :birthDate %>
  </div>

  <div>
    <%= form.label :eventScore, style: "display: block" %>
    <%= form.number_field :eventScore %>
  </div>

  <div>
    <%= form.label :totalScore, style: "display: block" %>
    <%= form.number_field :totalScore %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
