<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= player.category %>
  </p>

  <p>
    <strong>Lefthanded:</strong>
    <%= player.leftHanded %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= player.birthDate %>
  </p>

  <p>
    <strong>Eventscore:</strong>
    <%= player.eventScore %>
  </p>

  <p>
    <strong>Totalscore:</strong>
    <%= player.totalScore %>
  </p>

</div>
