<div id="<%= dom_id match %>">
  <p>
    <strong>Event:</strong>
    <%= match.event_id %>
  </p>

  <p>
    <strong>Playerone:</strong>
    <%= match.playerOne %>
  </p>

  <p>
    <strong>Pointsone:</strong>
    <%= match.pointsOne %>
  </p>

  <p>
    <strong>Playertwo:</strong>
    <%= match.playerTwo %>
  </p>

  <p>
    <strong>Pointstwo:</strong>
    <%= match.pointsTwo %>
  </p>

  <p>
    <strong>Playerthree:</strong>
    <%= match.playerThree %>
  </p>

  <p>
    <strong>Pointsthree:</strong>
    <%= match.pointsThree %>
  </p>

  <p>
    <strong>Playerfour:</strong>
    <%= match.playerFour %>
  </p>

  <p>
    <strong>Pointsfour:</strong>
    <%= match.pointsFour %>
  </p>

</div>
