<h3 style= "color: white">Event matches</h3>

  <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="d-flex px-2 py-1">
            </div>
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="h4">Event:&nbsp;</p>
                  <p class="h4"><%= @event.name.titleize%> [ID <%= @event.id%>]</p>
                  <%= link_to "Create new round", create_round_of_matches_path(@event), class: "btn btn-primary btn-sm ms-auto" %>
                </div>
                <div class="d-flex align-items-center">
                  <p class="h4">Date:&nbsp;</p>
                  <p class="h4"><%=local_time(@event.created_at, %"%d/%m/%Y") %> at <%=@event.timeIni.strftime("%H:%M")%> - <%=@event.timeEnd.strftime("%H:%M")%>  </p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="h4">Maximum players: <%=@event.people%></p>                
                </div>
              </div>
              
              
              
              <div class="card mb-4">
                <div class="d-flex px-2 py-1">
                </div>
                <div class="card-header pb-0">
                  <div class="d-flex align-items-center">



                      <!-- TABS SECTION  -->

                      <div class="nav-wrapper position-relative end-0">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                          <!-- We loop throughout the number of generated rounds-->
                          <%  @event.matches.select("round").group("round").sort_by{|m| m.round}.collect{|m| m.round}.each_with_index do |r, i| %>
                              <li class="<%= i == 0 ? ("active"):("") %>">
                              <li class="nav-item" role = "presentation">
                              <button class="nav-link <%= i == 0 ? ("active"):("") %>" id="tab-<%=r%>" data-bs-toggle="tab" data-bs-target="#tab-<%=r%>-pane" type="button" role="tab" aria-controls="tab-<%=r%>-pane" aria-selected="true">Round <%=r%></button>
                          <%end%>
                        </ul>
                        <div class="d-flex px-2 py-1"></div>
                        <div class="tab-content" id="myTabContent">
                          <%  @event.matches.select("round").group("round").sort_by{|m| m.round}.collect{|m| m.round}.each_with_index do |round, i| %>                            
                            <div class="tab-pane fade <%= i == 0 ? ("show active"):("") %> " id="tab-<%=round%>-pane" role="tabpanel" aria-labelledby="tab-<%=round%>" tabindex="0">
                              <div class="panel-body" id= "pn-tab-<%=round%>">
                                <div class="card-header pb-0">
                                  <div class="d-flex align-items-center">
                                    <%= link_to "Delete Round #{round}", matches_destroy_round_path(@event.id, round), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-danger btn-sm ms-auto" %>
                                  </div>
                                </div>

                                <div class="container" id="container-pb-<%=round%>">
                                  <%  @event.matches.where(round: round).each_with_index do |match, index| %>
                                    
                                      <%if (index%3) == 0 %>
                                        <div class="row">
                                      <%end%>                                        
                                        <div class="col-sm" id="card-1-tab-<%=round%>-m<%=index%>">
                                        <div class="card" id="crd-1-tab-<%=round%>-m<%=index%>">
                                          <div class="card-body pt-2" id="cb-card-1-tab-<%=round%>-m<%=index%>">
                                            <div class="container" id="contaiiner-cb-card-1-tab-<%=round%>-m<%=index%>">
                                              <div class="card-body pt-2" id="cb-space-card-1-tab-<%=round%>-m<%=index%>">
                                              </div>
                                              <!-- TEAM 1  - CARD N - TAB N -->
                                              <div class="row" id="row-crd-rnd-<%=round%>-<%=index%>-t1">
                                                <div class="col-sm" id="div-pic-r-<%=round%>player-<%=match.playerOne%>-t1">
                                                  <%= image_tag("eduardogarcia.jpg", class: "avatar avatar-sm me-3")%>
                                                </div>
                                                <div class="col-sm">
                                                  <div class="progress-wrapper">
                                                    <div class="progress-info">
                                                      <div class="progress-percentage">
                                                        <span class="text-sm font-weight-bold"><h6 class="text-sm text-center">Team 1</h6></span>
                                                      </div>
                                                    </div>
                                                    <div class="progress">
                                                      <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-sm" id="div-pic-r-<%=round%>player-<%=match.playerTwo%>-t1">
                                                  <%= image_tag("eduardogarcia.jpg", class: "avatar avatar-sm me-3")%>
                                                </div>
                                              </div>
                                              <div class="row" id="row-crd-names-<%=round%>-m-<%=match.playerOne%>-t1">
                                                <div class="col-sm">                                          
                                                  <h6 class="mb-0 text-xs"><%= Player.find(match.playerOne).name.titleize%></h6>
                                                </div>
                                                <div class="col-sm-3">                                                    
                                                </div>
                                                <div class="col-sm">
                                                  <h6 class="mb-0 text-xs"><%=Player.find(match.playerTwo).name.titleize%></h6>
                                                </div>                                                  
                                              </div>
                                              <div class="card-body pt-2-versus-<%=round%>-m-<%=index%>-t1">
                                                <h6 class="text-sm text-center">VS</h6>
                                              </div>


                                              <!-- TEAM 2  - CARD N - TAB N -->
                                              <div class="row" id="row-crd-rnd-<%=round%>-<%=index%>-t2">
                                                <div class="col-sm" id="div-pic-r-<%=round%>player-<%=match.playerThree%>-t2">
                                                  <%= image_tag("eduardogarcia.jpg", class: "avatar avatar-sm me-3")%>
                                                </div>
                                                <div class="col-sm">
                                                  <div class="progress-wrapper">
                                                    <div class="progress-info">
                                                      <div class="progress-percentage">
                                                        <span class="text-sm font-weight-bold"><h6 class="text-sm text-center">Team 2</h6></span>
                                                      </div>
                                                    </div>
                                                    <div class="progress">
                                                      <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-sm" id="div-pic-r-<%=round%>player-<%=match.playerFour%>-t2">
                                                  <%= image_tag("eduardogarcia.jpg", class: "avatar avatar-sm me-3")%>
                                                </div>
                                              </div>

                                              <div class="row" id="row-crd-names-<%=round%>-m-<%=match.playerThree%>-t2">
                                                  <div class="col-sm">                                          
                                                    <h6 class="mb-0 text-xs"><%=Player.find(match.playerThree).name.titleize%></h6>
                                                  </div>
                                                  <div class="col-sm-3">                                                    
                                                  </div>
                                                  <div class="col-sm">
                                                    <h6 class="mb-0 text-xs"><%=Player.find(match.playerFour).name.titleize%></h6>
                                                  </div>                                                  
                                              </div>
                                              <div class="card-body pt-2" id="cb-space-final-<%=round%>-<%=index%>-t2">
                                              </div>

                                              <!-- RESULTS-->
                                              <div class="row">
                                                <div class="col-sm text-center">                                          
                                                  <h5>Results</h6>
                                                </div>                                                                                  
                                              </div>

                                              <div class="row">
                                                <div class="col-sm">
                                                  <p class="h5 text-start"> Team 1:</p>
                                                </div>
                                                <div class="col-sm">
                                                  <% case match.match_result %>
                                                    <%when 0%>
                                                      <button class="btn btn-info"><strong><%=match.pointsOne%> points </strong></button>
                                                    <%when 1%>
                                                      <button class="btn btn-success"><strong><%=match.pointsOne%> points </strong></button>
                                                    <%when 2%>
                                                      <button class="btn btn-danger"><strong><%=match.pointsOne%> points </strong></button>
                                                    <%when -1%>
                                                      <button class="btn btn-secondary"><strong> - </strong></button>
                                                  <%end%>
                                                    
                                                </div>                                                
                                                
                                                
                                              </div>
                                              <div class="row">
                                                <div class="col-sm">
                                                  <p class="h5 text-start"> Team 2:</p>
                                                </div>
                                                <div class="col-sm">
                                                  <% case match.match_result %>
                                                    <%when 0%>
                                                      <button class="btn btn-info"><strong><%=match.pointsThree%> points </strong></button>
                                                    <%when 1%>
                                                      <button class="btn btn-danger"><strong><%=match.pointsThree%> points </strong></button>
                                                    <%when 2%>
                                                      <button class="btn btn-success"><strong><%=match.pointsThree%> points </strong></button>
                                                    <%when -1%>
                                                      <button class="btn btn-secondary"><strong> - </strong></button>
                                                  <%end%>
                                                </div>
                                              </div>

                                              <div class="row">                                        
                                                <div class="col-sm text-center">
                                                  <!-- <%= link_to "Edit Results", edit_match_path(match), class: "btn btn-lg btn-primary" %> -->
                                                  <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalSignUp" data-information-id="<%=match.id%>">Edit results</button> -->
                                                  <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#editResultsModal" data-match-id="<%=match.id%>">Edit results</button> -->
                                                  <%= link_to "Edit Results", edit_match_path(match), class: "btn btn-lg btn-primary", data: { turbo_frame: "remote_modal" }%>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <%if (index%2)==0 && (index>0) %>
                                        </div>
                                      <%end%>                                    
                                  <%end%>
                                </div>                                
                              </div>
                            </div>                            
                          <%end%>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
  </div>


